body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4ecf7;
    display: flex;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #d2b4de;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h1 {
    color: white;
    font-size: 24px;
}

.sidebar p {
    color: white;
    font-size: 14px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li {
    margin: 15px 0;
}

.sidebar-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.sidebar-nav ul li a:hover {
    color: #ff6f61;
}

.sidebar-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.social-media a {
    margin: 0 10px;
}

main {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

.content-section {
    margin-bottom: 30px;
}

.content-section h2 {
    font-size: 28px;
    color: #2f4f4f;
}

.content-section p {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

.contact-info p {
    font-size: 18px;
    color: #333;
}

.contact-info a {
    color: #ff6f61;
    text-decoration: none;
}
